@import "../../styles/palette.scss";

.scheduler {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 32px 24px;
  user-select: none;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  background-color: $paletteColor4;
  border-radius: 10px;
  box-shadow: 2px 1px 23px $rgbaColor2;
}
