@import "../../styles/palette.scss";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
  background-color: $paletteColor2;
  border-radius: 4px;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.isDragging {
  background-color: $paletteColor10;
}

.content {
  display: flex;
  align-items: center;
  max-width: 85%;
}

.title {
  width: 100%;
  padding: 0 12px;
  font-size: 14px;
  color: $paletteColor5;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.deleteBtn {
  border-width: thin;
  border-radius: 4px;
  font-size: 10px;
}
